/*--------------------------------------------------------------
Hello, this is the BuddyPress Activity Link Preview stylesheet.

@version 1.0.0

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1 - Activity Page

--------------------------------------------------------------*/


/*--------------------------------------------------------------
1 - Activity Page
--------------------------------------------------------------*/

.activity-link-preview-container {
    margin: 15px 0 0;
    padding: 25px;
    line-height: 1.5;
    color: #888;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px !important;
    position: relative;
    overflow: auto;
    zoom: 1;
}

.activity-form .activity-link-preview-container {
    margin: 0 0 15px;
}

.activity-video-preview .activity-link-preview-container {
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    max-width: 640px;
}

.activity-link-preview-container div.fluid-width-video-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

.activity-link-preview-image {
    float: left;
    max-width: 160px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.activity-link-preview-image img {
    width: 100%;
    height: auto;
    border: none;
}

.activity-url-scrapper-container .activity-link-preview-image {
    margin-bottom: 30px;
}

.activity-video-preview {
    padding: 0;
}

.activity-link-preview-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    color: #32373c;
}

.activity-list .activity-item .activity-content .activity-link-preview-title,
.activity-link-preview-title {
    margin: 0 0 15px;
}

.activity-link-preview-title a:hover {
    text-decoration: underline !important;
}

.activity-link-preview-excerpt {
    padding: 0 0 40px;
}

.activity-link-preview-excerpt p {
    font-size: 14px;
    font-weight: 400;
}

.activity-link-preview-excerpt a.activity-link-preview-more:hover {
    text-decoration: underline !important;
}

.activity-url-thumb-nav {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#buddypress .activity-url-thumb-nav button {
    cursor: pointer;
    width: auto;
    padding: 3px 6px;
    margin: 0 3px;
    height: auto;
    min-height: 10px;
}

#activity-url-scrapper-img-count {
    font-size: 12px;
    color: #7f7f7f;
    margin-top: 5px;
}

.activity-url-error {
    color: #d33;
}

#activity-url-scrapper-url {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

#activity-close-link-suggestion {
    border: 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    position: absolute;
    left: 3px;
    top: 8px;
    text-decoration: none;
}

#activity-close-link-suggestion .dashicons.dashicons-no-alt {
    font-size: 20px;
}

.activity-post-form-link-wp-embed #activity-close-link-suggestion {
    top: 30px;
    left: 8px;
    right: auto;
    background: #fff;
    z-index: 11;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (max-width: 32em) {
    #activity-close-link-suggestion {
        color: black;
    }
}

#activity-link-preview-close-image {
    border: 0;
    color: #fff;
    font-size: 16px;
    left: 3px;
    position: absolute;
    top: 3px;
    text-decoration: none;
}

#activity-link-preview-close-image .dashicons.dashicons-no-alt {
    font-size: 20px;
}

#activity-close-link-suggestion:focus,
#activity-link-preview-close-image:focus {
    outline: 0;
}